<!DOCTYPE html>
<html lang="en">
  <%- include("bootstrap.ejs") %>
  <body>
    <footer class="text-center p-2 text-dark mt-auto">
      <span>
        &copy; Made with 💖 By
        <a
          href="https://twitter.com/Hari_om_333"
          class="text-dark"
          target="__blank"
          >Hari om</a
        >
      </span>
    </footer>
  </body>
</html>
