<!DOCTYPE html>
<html lang="en">
  <%- include("bootstrap.ejs") %>
  <body>
  <!-- <link href="../public/style.css" rel="stylesheet" type="text/css" /> -->
    <title>Weather app by Hari om</title>
    <!-- Navbar  -->
    <%- include("nav.ejs") %>
    <div class="container"></div>
    <section>
    <div class="container" id="main">
        <form action="/weather" method="POST" id="form">
            <label for="city">City Name: 
                <input type="text" name="name" id="city">
            </label>
            <button type="submit" class="btn btn-outline-primary">Show Weather</button>
        </form>
        <!-- <div class="details">
          <div class="" id="temp">
          <span>temp </span>
        </div>
          <span class=>Des: </span>
          <span class=>con</span>
        </div>
    </div> -->
  </section>
  </body>
</html>
